body .content {
  padding: 0;
}

.btnToIndex {
  margin: 1rem;
}

.pokemonHeader {
  height: 45%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.pokemonHeader .pokemonInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.pokemonHeader .pokemonInfo .detail .name {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}

.pokemonHeader .pokemonInfo .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.pokemonHeader .pokemonInfo .detail .types .type {
  color: #fff;
  text-transform: capitalize;
  padding: 0.45rem 1rem;
  margin: 0.25rem 0.25rem;
  font-size: 0.825rem;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
}

.pokemonHeader .pokemonInfo .number {
  color: #fff;
  font-size: 1.1rem;
}

.pokemonHeader img {
  height: 225px;
  width: 100%;
  position: relative;
  margin: auto;
  top: 7rem;
}

@media screen and (min-width: 380px) {
  .pokemonHeader img {
    top: 7.6rem;
  }
}

@media screen and (min-width: 576px) {
  .pokemonHeader img {
    top: 7.6rem;
  }
}

@media screen and (min-width: 992px) {
  .pokemonHeader img {
    top: 4.4rem;
  }
}

.pokemonDetails {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  height: -webkit-fill-available;
  max-height: 56%;
  background-color: #fff;
}

.pokemonDetails .detailContent {
  margin: 1.625rem;
}

.pokemonDetails .detailContent .tabs {
  padding-top: 3rem;
  border-bottom: #e1e1e3 1px solid;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.pokemonDetails .detailContent .tabs button {
  border: none;
  outline: none;
  color: #e1e1e3;
  background-color: #fff;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 0.925rem;
}

.pokemonDetails .detailContent .tabs button:hover {
  color: #000;
  border-bottom: 2px solid #b6beee;
}

.pokemonDetails .detailContent .tabs button.active {
  color: #000;
  border-bottom: 2px solid #b6beee;
}

.pokemonDetails .detailContent .aboutInfo {
  overflow: auto;
}

.pokemonDetails .detailContent .aboutInfo .infoName {
  font-weight: normal;
  color: grey;
}

.pokemonDetails .detailContent .aboutInfo .info {
  color: black;
  text-transform: capitalize;
}

.pokemonDetails .detailContent .aboutInfo .infoTitle {
  font-weight: bold;
  margin-top: 2rem;
  margin-top: 1.625rem;
}

.pokemonDetails .detailContent .aboutInfo table {
  width: auto;
  font-size: 1rem;
}

.pokemonDetails .detailContent .aboutInfo tr {
  display: table;
  margin: 0.9rem 0;
  width: 100%;
  text-align: left;
}
.pokemonDetails .detailContent .aboutInfo th {
  padding-right: 0;
  width: 6.9rem;
}
